.spacecannon-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacecannon-aim {
    position: fixed;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spacecannon-aim-north {
    position: fixed;
    width: 0px;
    height: 100vh;
    border-style: solid;
    border-color: black;
    border-width: 0 2px 0 0;
    pointer-events: none;
    transform: translate(0, calc(-100% - 25px));
    z-index: 9999;
}

.spacecannon-aim-south {
    position: fixed;
    width: 0px;
    height: 100vh;
    border-style: solid;
    border-color: black;
    border-width: 0 2px 0 0;
    pointer-events: none;
    transform: translate(0, 25px);
    z-index: 9999;
}

.spacecannon-aim-east {
    position: fixed;
    width: 100vw;
    height: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    pointer-events: none;
    transform: translate(25px, 0);
    z-index: 9999;
}

.spacecannon-aim-west {
    position: fixed;
    width: 100vw;
    height: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    pointer-events: none;
    transform: translate(calc(-100% - 25px), 0);
}

.columns {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.home-main {
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 193, 195, 1);
}

.homenewhero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 120px;
    background-color: rgb(252, 252, 255);
}

.homenewhero-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.homehero-left-column {
    flex: 2;
    display: flex;
    padding: 20px;
}

.homehero-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.homehero-my-bio {
    border-radius: 10px;
    border-width: 1px;
    height: 100px;
    box-shadow: 0 0 10 5px rgb(226, 226, 226);
    background-color: rgba(255, 255, 255, 0.25);
}

.homehero-my-bio-title {
    display: flex;
    border-radius: 9px 9px 0 0;
    height: 30px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    background-color: rgba(255, 255, 255, 0.25);
}

p {
    color: black;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 350;
}

h1 {
    color: black;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 450;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.56) 21%, rgba(255, 255, 255, 1) 100%);
}

body {
    margin: 60px 0 0 0;
}

.page-content {
    display: block;
    width: flex;
}

.header-title {
    color: black;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.header-content {
    color: gray;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.header-content.active {
    color: RGBA(49, 49, 49, 100);
}

nav {
    display: flex;
    gap: 20px;
}